.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.example-button-row {
    margin-left: 20px;
}

.tamanhoBotao{
    width: 435px;
    height: 130px;
}

.icon-display {
    transform: scale(3);
 }

