.content-style {
  border:1px solid white;
  border-radius:4px;
  padding:10px;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.error.mat-smack-bar-container{
  background: #cc0000;
  color: white;
}

.success.mat-smack-bar-container{
  background: #00cc00;
  color: white;
}


 
