
<div class="c-subheader sticky-top justify-content-between px-3 c-header-shadow">
  <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
      <li class="breadcrumb-item" aria-current="page">Cidadão</li>
      <li class="breadcrumb-item active" aria-current="page">Importar</li>
  </ol>
  <!-- Breadcrumb Menu-->
  <div class="c-subheader-nav">
      <div class="btn-group" role="group">
          <a class="btn" class="btn btn-success"><i class="fa fa-plus"></i> Importar</a>   
      </div>
  </div>
</div>
<main class="c-main">
      <div class="container-fluid">
        <div class="mat-elevation-z8">
          <mat-paginator #paginator
            
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15, 100]">
          </mat-paginator>
          <table mat-table class="full-width-table" [dataSource]="regioes" class="full-width-table" matSort aria-label="Elements">
            <!-- Id Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
              <td mat-cell *matCellDef="let element">{{element.nome}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="sigla">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sigla</th>
              <td mat-cell *matCellDef="let element">{{element.sigla}}</td>
            </ng-container>
            
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          </table>
        </div>
    </div>
</main>
