<div #sidebar appSidebar>
</div>

<!--
    Main content leaving the div content class
    https://coreui.io/docs/layout/overview/
-->
<div class="c-wrapper">
  <!--
      https://coreui.io/docs/components/header/
  -->
  <header *ngIf="usuario.id != null" class="c-header c-header-light c-header-fixed c-header-shadow">    
    <button matRipple class="c-header-toggler" type="button" (click)="sidebar.toggle()">
      <span class="c-header-toggler-icon"></span>
    </button>

    <div class="c-header-brand">
      <strong>SGM - Sistema de Gestão Integrada Municipal</strong>
    </div>

    <div class="c-header-brand direita">
      <strong>Olá, {{usuario.username}}</strong>
      <div class="btn-group" role="group">
        <a class="btn" (click)="logoff();" matTooltip="sair"><i class="fa fa-sign-out" aria-hidden="true"></i>Sair</a>   
    </div>
    </div>
    
  </header>
  <div class="c-body">
    <router-outlet></router-outlet>
  </div>
</div>
