<!--
https://coreui.io/docs/components/sidebar/
-->
<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">SGM</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="home" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-home"></i> Início
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="cidadao" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Cidadão
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="distrito" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Distrito
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="mesorregiao" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Mesorregião
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="microrregiao" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Microrregião
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="municipio" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Município
        </a>
    </li>
    
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="regiao" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Região
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="regiaoImediata" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Região Imediata
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="regiaoIntermediaria" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Região Intermediária
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="subdistrito" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Subdistrito
        </a>
    </li>


    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="uf" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Uf
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="table" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon icon-globe"></i> Material Table
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://github.com/sterlp/admin-template">
            <i class="c-sidebar-nav-icon fa fa-github"></i> Go to Github
            <span class="badge badge-primary">NEW</span>
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://coreui.io/docs/getting-started/introduction/" target="_blank">
            <i class="c-sidebar-nav-icon icon-book-open"></i> CoreUI Doc
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://material.angular.io/components/categories" target="_blank">
            <i class="c-sidebar-nav-icon icon-book-open"></i> Angular Material
        </a>
    </li>

    <li class="c-sidebar-nav-dropdown" >
        <a class="c-sidebar-nav-dropdown-toggle" matRipple appToggle>
            <i class="c-sidebar-nav-icon cil-library"></i> Icons libs
        </a>

        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" matRipple href="https://simplelineicons.github.io/" target="_blank">
                    <!-- simple line icon -->
                    <i class="c-sidebar-nav-icon icon-doc"></i> Simple Line Icons
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="https://fontawesome.com/v4.7.0/icons/" target="_blank">
                    <i class="c-sidebar-nav-icon fa fa-flag"></i> Font Awesome
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="https://material.io/resources/icons/" target="_blank">
                    <mat-icon class="c-sidebar-nav-icon">link</mat-icon> Material Icons
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="https://coreui.io/docs/icons/icons-list/#coreui-icons-free-502-icons" target="_blank">
                    <i class="c-sidebar-nav-icon icon-doc"></i> CoreUI free icons
                </a>
            </li>
        </ul>
    </li>
    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>

