<!--
https://coreui.io/docs/components/sidebar/
-->
<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Prefeitura Municipal de Bom Destino</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="home" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-home"></i> Início
        </a>
    </li>

    <li class="c-sidebar-nav-dropdown" >
        <a class="c-sidebar-nav-dropdown-toggle" matRipple appToggle>
            <i class="c-sidebar-nav-icon cil-contact"></i> Cidadão
        </a>

        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" matRipple routerLink="pesquisarCidadao" routerLinkActive="c-active">
                    <!-- fontawesome icon -->
                    <i class="c-sidebar-nav-icon cil-search"></i> Pesquisar Cidadão
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" matRipple routerLink="cidadao" routerLinkActive="c-active">
                    <!-- fontawesome icon -->
                    <i class="c-sidebar-nav-icon cil-plus"></i> Cadastar Cidadão
                </a>
            </li>         
        </ul>
    </li>
    <li class="c-sidebar-nav-dropdown" >
        <a class="c-sidebar-nav-dropdown-toggle" matRipple appToggle>
            <i class="c-sidebar-nav-icon cil-contact"></i>Georreferenciamento
        </a>

        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" matRipple routerLink="regiao" routerLinkActive="c-active">
                    <!-- fontawesome icon -->
                    <i class="c-sidebar-nav-icon cil-search"></i> Importar
                </a>
            </li>        
        </ul>
    </li>
    <ng-content></ng-content>
</ul>

